body {
  height: 100%;
  background: url('../images/%D1%84%D0%BE%D0%BD.jpg') rgb(21, 21, 21);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font: 400 1em/1.38 Helvetica;
  color: rgb(187, 187, 187);
}

.element {
  float: left;
}

.text-11 p,
.text-13 p,
.text-15 p,
.text-9 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  -ms-transition: 400ms;
  transition: 400ms;
}

.container-1 {
  position: relative;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(18, 18, 18, 0.88);
}

.container-10 {
  width: 93.125%;
  height: 505px;
  margin: 50px auto 0;
}

.container-11 {
  width: 90.625%;
  height: 442px;
  margin: 59px auto 0;
}

.container-12 {
  float: left;
  clear: both;
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  height: 118px;
  margin-top: 26px;
  background-color: rgba(18, 18, 18, 0.78);
}

.container-2 {
  position: relative;
  float: left;
  z-index: 3;
  width: 100%;
  height: 487px;
  background-image: url('../images/%D0%97%D0%BD%D0%B0%D0%BA%D0%B8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.container-3 {
  float: left;
  width: 100%;
  height: 146px;
  background-color: rgba(18, 18, 18, 0.78);
}

.container-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 100%;
  height: 83px;
  margin-top: -83px;
  background-color: rgba(18, 18, 18, 0.78);
}

.container-5 {
  width: 745px;
  height: 90px;
  margin: 544px auto 0;
}

.container-6 {
  float: left;
  clear: both;
  width: 100%;
  height: 106px;
  margin-top: 38px;
}

.container-7 {
  float: left;
  width: 100%;
  height: 102px;
}

.container-8 {
  width: 90.625%;
  height: 440px;
  margin: 207px auto 0;
}

.container-9 {
  width: 90.625%;
  height: 508px;
  margin: 53px auto 0;
}

.element-1 {
  width: 105px;
  min-width: 105px;
  max-width: 105px;
  height: 110px;
  min-height: 110px;
  max-height: 110px;
  margin: 16px 0 0 29px;
  background: url('../images/icon.ico') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-10 {
  width: 39.5862068965%;
  height: 343px;
  margin: 28px 0 0 8.14009%;
  background: url('../images/%D0%A4%D0%BE%D1%83%D0%BB%D0%B5%D1%80.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-4 {
  width: 0.25%;
  height: 63px;
  margin: 8px 0 0 24px;
  background-color: rgb(48, 160, 193);
}

.element-2,
.element-3,
.element-5 {
  width: 0.25%;
  height: 63px;
  margin: 8px 0 0 17px;
  background-color: rgb(48, 160, 193);
}

.element-6 {
  width: 0.25%;
  height: 63px;
  margin: 8px 0 0 19px;
  background-color: rgb(48, 160, 193);
}

.element-7 {
  width: 40.2758620689%;
  height: 312px;
  margin: 32px 0 0 7.03233%;
  background: url('../images/%D0%94%D0%B6%D0%B5%D0%BA%20%D0%94%D0%B0%D1%80%D0%B1%D0%B8.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-8 {
  width: 40.2758620689%;
  height: 312px;
  margin: 32px 0 0 4.2694%;
  background: url('../images/%D0%9C%D0%B8%D0%BA%D0%BE.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-9 {
  width: 38.7919463087%;
  height: 377px;
  margin: 43px 0 0 10.60193%;
  background: url('../images/%D0%A0%D0%B0%D1%84.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.text-1 {
  float: left;
  margin: 40px 0 0 24px;
  font-size: 3.063em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-10,
.text-8 {
  float: left;
  width: 27.1724137931%;
  min-height: 42px;
  margin: 17px 0 0 2.2069%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.text-11 {
  position: relative;
  float: left;
  clear: both;
  z-index: 36;
  width: 47.3103448275%;
  min-height: 312px;
  margin: 20px 0 0 4.96121%;
  font-size: 1em;
  text-align: justify;
  color: rgb(187, 187, 187);
}

.text-12 {
  float: left;
  width: 24.5637583892%;
  min-height: 37px;
  margin: 7px 0 0 2.61326%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.text-13 {
  position: relative;
  float: left;
  clear: both;
  z-index: 39;
  width: 41.610738255%;
  min-height: 326px;
  margin: 43px 0 0 6.23742%;
  font-size: 1em;
  text-align: justify;
  color: rgb(187, 187, 187);
}

.text-14 {
  float: left;
  width: 32.1379310344%;
  min-height: 49px;
  margin-left: 2.27371%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.text-15 {
  position: relative;
  float: left;
  clear: both;
  z-index: 43;
  width: 42.2068965517%;
  min-height: 343px;
  margin: 28px 0 0 6.1357799999%;
  font-size: 1em;
  text-align: justify;
  color: rgb(187, 187, 187);
}

.text-16 {
  float: left;
  width: 37.75%;
  min-height: 32px;
  margin: 48px 0 0 62.25%;
  font-style: italic;
  font-size: 1.188em;
  color: rgb(255, 255, 255);
}

.text-2 {
  width: 18.75%;
  margin: 7px auto 0;
  font-size: 1.625em;
  font-weight: 700;
  text-align: center;
  color: rgb(187, 187, 187);
}

.text-3 {
  float: left;
  clear: both;
  width: 124px;
  min-width: 70px;
  min-height: 30px;
  margin: 17px 0 0 31px;
  border-bottom: 3px solid rgb(27, 27, 27);
  font-size: 1.125em;
  text-align: center;
  color: rgb(48, 160, 193);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  -ms-transition: 350ms;
  transition: 350ms;
}

.text-4 {
  position: relative;
  float: right;
  z-index: 22;
  width: 141px;
  min-width: 70px;
  min-height: 30px;
  margin: 17px 446px 0 0;
  border-bottom: 3px solid rgb(27, 27, 27);
  font-size: 1.125em;
  text-align: center;
  color: rgb(48, 160, 193);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  -ms-transition: 350ms;
  transition: 350ms;
}

.text-5 {
  position: relative;
  float: right;
  clear: both;
  z-index: 23;
  width: 132px;
  min-width: 70px;
  min-height: 30px;
  margin: -30px 233px 0 0;
  border-bottom: 3px solid rgb(27, 27, 27);
  font-size: 1.125em;
  text-align: center;
  color: rgb(48, 160, 193);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  -ms-transition: 350ms;
  transition: 350ms;
}

.text-6 {
  float: right;
  clear: both;
  width: 154px;
  min-width: 70px;
  min-height: 30px;
  margin: -30px 24px 0 0;
  border-bottom: 3px solid rgb(27, 27, 27);
  font-size: 1.125em;
  text-align: center;
  color: rgb(48, 160, 193);
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  -ms-transition: 350ms;
  transition: 350ms;
}

.text-3:hover,
.text-4:hover,
.text-5:hover,
.text-6:hover {
  border-bottom: 3 solid rgb(48, 160, 193);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: rgb(187, 187, 187);
}

.text-3:active,
.text-4:active,
.text-5:active,
.text-6:active {
  border-bottom-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.text-3:focus,
.text-4:focus,
.text-5:focus,
.text-6:focus {
  border-bottom-color: rgb(27, 27, 27);
  color: rgb(193, 48, 48);
}

.text-7 {
  float: left;
  clear: both;
  min-height: 25px;
  margin: 2233px 0 0 85%;
  padding: 9px;
  border-radius: 5px;
  background-color: rgb(28, 92, 111);
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.text-9 {
  position: relative;
  float: left;
  clear: both;
  z-index: 32;
  width: 44.1379310344%;
  min-height: 312px;
  margin: 32px 0 0 5.37716%;
  font-size: 1em;
  text-align: justify;
  color: rgb(187, 187, 187);
}

.container ._button-1 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 19px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.container ._button-10 {
  clear: both;
  width: 18%;
  height: 57px;
  margin: 87px 0 0 27px;
  background-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.container ._button-2 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 17px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.container ._button-3 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 17px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgb(48, 160, 193);
}

.container ._button-4 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 21px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgb(187, 187, 187);
}

.container ._button-1:hover,
.container ._button-2:hover,
.container ._button-3:hover,
.container ._button-4:hover {
  border-radius: 10px;
  background-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.container ._button-1:active,
.container ._button-2:active,
.container ._button-3:active,
.container ._button-4:active {
  background-color: rgb(28, 92, 111);
  box-shadow: 0 0 13px rgb(48, 160, 193) inset;
  color: rgb(255, 255, 255);
}

.container ._button-5 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 17px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.78);
}

.container ._button-6 {
  width: 95px;
  min-width: 90px;
  max-width: 95px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 13px 0 0 16px;
  background-color: rgb(18, 18, 18);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.78);
}

.container ._button-5:hover,
.container ._button-6:hover {
  border-radius: 10px;
  background-color: rgb(48, 160, 193);
}

.container ._button-5:active,
.container ._button-6:active {
  background-color: rgb(28, 92, 111);
  box-shadow: 0 0 13px rgb(48, 160, 193) inset;
}

.container ._button-7 {
  width: 19.3288590604%;
  height: 57px;
  margin-top: 19px;
  background-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.container ._button-8 {
  width: 19.3288590604%;
  height: 57px;
  margin: 19px 0 0 160px;
  background-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.container ._button-9 {
  width: 19.3288590604%;
  height: 57px;
  margin: 19px 0 0 152px;
  background-color: rgb(48, 160, 193);
  color: rgb(255, 255, 255);
}

.container ._button-10:hover,
.container ._button-7:hover,
.container ._button-8:hover,
.container ._button-9:hover {
  background-color: rgb(28, 92, 111);
}

.container ._button-10:active,
.container ._button-7:active,
.container ._button-8:active,
.container ._button-9:active {
  background-color: rgb(48, 160, 193);
  box-shadow: 11px -11px 1px rgb(28, 92, 111);
}

.container ._button-10:focus,
.container ._button-7:focus,
.container ._button-8:focus,
.container ._button-9:focus {
  background-color: rgb(34, 114, 138);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}